
#img-div {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#image {
  max-width: 100%;
  height: auto; 
  display: block;
  justify-content: center;
  align-items: center;
}
